html {
  font-family: 'Dosis', sans-serif;
}

html body {
  font-family: 'Dosis', sans-serif;
  color: white;
  background: url('../img/background.jpg');
}

.border {
  border: 1px solid blue;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.center_txt {
  text-align: center;
}

.al-right {
  text-align: right;
}

.center_block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.header {
  background-color: rgba(46, 134, 222, .2);
}

/*@media (min-width: 421px ) and (max-width: 1024px) {
	h2 {
		font-size: 15px !important; 
	}
	.body-content {
		height: 87vh;
	}
}

//Smartphone
@media screen and (max-width: 480px) {
	h2 {
		font-size: 15px !important;
	}
	.body-content {
		height: 90vh;
	}
}*/
